@{
    ViewData["Title"] = "Home Page";
}
<p1 class="imageTextCenter">This is a test website to test using asp and the basic use of viewdata, diffrent views, and layouts, also here's some more <a href="https://perchance.org/cat-img-gen " target="_blank">cats.</a></p1>
